#side-nav {
    min-width: 44px;
    grid-area: side-nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 12px;
    border-right: 1px solid #43454D;
}

.side-nav__top {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.side-nav__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-nav__icon {
    width: 20px;
    height: auto;
}

.side-nav__item {
    display: flex;
    gap: 8px;
    align-items: center;
}